asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.8
Django==4.2.30
et_xmlfile==2.0.0
greenlet==3.5.5
gunicorn==26.0.0
idna==3.18
openpyxl==3.1.5
packaging==26.2
pillow==12.3.0
playwright==1.62.0
pyee==13.0.1
requests==2.34.2
sqlparse==0.5.5
typing_extensions==4.16.0
urllib3==2.7.0
websocket-client==1.9.0
